In [2]:
import pandas as pd

filmes = pd.read_csv("data/movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId")
filmes.head()

,titulo,generos
filmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [4]:
notas = pd.read_csv("data/ratings.csv")
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota     momento
0          1      307   3.5  1256677221
1          1      481   3.5  1256677456
2          1     1091   1.5  1256677471
3          1     1257   4.5  1256677460
4          1     1449   4.5  1256677264

In [5]:
notas.describe()

          usuarioId       filmeId          nota       momento
count  2.775344e+07  2.775344e+07  2.775344e+07  2.775344e+07
mean   1.419420e+05  1.848800e+04  3.530445e+00  1.193122e+09
std    8.170740e+04  3.510263e+04  1.066353e+00  2.160482e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    7.117600e+04  1.097000e+03  3.000000e+00  9.986053e+08
50%    1.420220e+05  2.716000e+03  3.500000e+00  1.174256e+09
75%    2.124590e+05  7.150000e+03  4.000000e+00  1.422744e+09
max    2.832280e+05  1.938860e+05  5.000000e+00  1.537945e+09

# Primeira tentativa de recomendação: heurística de total de votos

In [6]:
total_de_votos = notas["filmeId"].value_counts()
total_de_votos.head()

318     97999
356     97040
296     92406
593     87899
2571    84545
Name: filmeId, dtype: int64

In [7]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

,titulo,generos,total_de_votos
filmeId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68469.0
2,Jumanji (1995),Adventure|Children|Fantasy,27143.0
3,Grumpier Old Men (1995),Comedy|Romance,15585.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2989.0
5,Father of the Bride Part II (1995),Comedy,15474.0

In [8]:
filmes.sort_values("total_de_votos", ascending = False).head(10)

,titulo,generos,total_de_votos
filmeId,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,97999.0
356,Forrest Gump (1994),Comedy|Drama|Romance|War,97040.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,92406.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,87899.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,84545.0
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,81815.0
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,76451.0
527,Schindler's List (1993),Drama|War,71516.0
110,Braveheart (1995),Action|Drama|War,68803.0
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68469.0

In [21]:
notas_medias = notas.groupby("filmeId").mean()["nota"]
notas_medias.head()

filmeId
1    3.888614
2    3.140257
3    3.175958
4    2.943548
5    3.016364
Name: nota, dtype: float64

In [23]:
filmes["nota_media"] = notas_medias
filmes.sort_values("total_de_votos", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,1739.0,4.410293
356,Forrest Gump (1994),Comedy|Drama|Romance|War,1698.0,4.087161
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1628.0,4.174140
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,1564.0,4.149936
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,1437.0,4.124913
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1421.0,4.087262
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,1322.0,3.656203
527,Schindler's List (1993),Drama|War,1299.0,4.265204
110,Braveheart (1995),Action|Drama|War,1269.0,4.008668
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1212.0,3.888614

# Uma segunda heurística: nota média e filtrando votos

In [24]:
filmes.sort_values("nota_media", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
76171,India (Indien) (1993),Comedy|Drama,1.0,5.0
115943,The Land Before Time V: The Mysterious Island ...,Adventure|Animation|Children,1.0,5.0
117368,The Madagascar Penguins in a Christmas Caper (...,Animation|Comedy,1.0,5.0
117310,Aashiqui 2 (2013),Drama|Musical|Romance,1.0,5.0
158486,Side Effects (2005),Comedy|Drama|Romance,1.0,5.0
50942,"Wake Up, Ron Burgundy (2004)",Comedy,1.0,5.0
27235,"Shrink Is In, The (2001)",Comedy|Romance,1.0,5.0
158878,The Letter Writer (2011),Children,1.0,5.0
116493,The Returned (2013),Drama|Horror|Thriller,1.0,5.0
159161,Ali Wong: Baby Cobra (2016),(no genres listed),1.0,5.0

In [25]:
filmes.query("total_de_votos >= 10").sort_values("nota_media", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
69849,Roots (1977),Drama|War,10.0,4.450000
174053,Black Mirror: White Christmas (2014),Drama|Horror|Mystery|Sci-Fi|Thriller,26.0,4.423077
7396,Scenes From a Marriage (Scener ur ett äktenska...,Drama,12.0,4.416667
318,"Shawshank Redemption, The (1994)",Crime|Drama,1739.0,4.410293
6650,Kind Hearts and Coronets (1949),Comedy|Drama,18.0,4.361111
6852,In Cold Blood (1967),Crime|Drama,14.0,4.357143
163134,Your Name. (2016),Animation|Drama|Fantasy|Romance,24.0,4.354167
55908,"Man from Earth, The (2007)",Drama|Sci-Fi,58.0,4.353448
5604,"Man in the White Suit, The (1951)",Comedy|Sci-Fi,10.0,4.350000
7234,"Strada, La (1954)",Drama,25.0,4.320000

In [27]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("nota_media", ascending = False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,1739.0,4.410293
55908,"Man from Earth, The (2007)",Drama|Sci-Fi,58.0,4.353448
858,"Godfather, The (1972)",Crime|Drama,1053.0,4.307217
50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1123.0,4.303206
678,Some Folks Call It a Sling Blade (1993),Drama|Thriller,51.0,4.294118
3359,Breaking Away (1979),Comedy|Drama,64.0,4.289062
926,All About Eve (1950),Drama,99.0,4.277778
527,Schindler's List (1993),Drama|War,1299.0,4.265204
1280,Raise the Red Lantern (Da hong deng long gao g...,Drama,57.0,4.263158
3435,Double Indemnity (1944),Crime|Drama|Film-Noir,99.0,4.252525